.button {
  margin: 15px 10px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: rgb(129, 129, 129);
  font-size: 20px;
  background-image: radial-gradient(circle 592px at 48.2% 50%,
      rgba(255, 255, 249, 0.6) 0%,
      rgba(160, 199, 254, 1) 74.6%);
}

.button:hover {
  border: 2px solid rgb(66, 164, 177);
}
